{% extends 'base.html.twig' %}

{% block title %}Liste des recettes{% endblock %}

{% block body %}
<section class="pt-5 pt-md-5" id="bgRecipePageTxtSection2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                <p class="listrecipePagetxtSection3">Les recettes que </br> vous propose </br> Convivial Event</p>
            </div>
        </div>
    </div>
</section>
<section class="container" id="bgRecipePageTxtSection3">
    <div class="contenantSection4">
                <img class="imgHomeFixeS4" src="{{ asset('/build/images/boulPizz.0648ce00.webp') | imagine_filter('my_thumb') }}" alt="photo image home fixe">
            </div>
    <div class="row">
        <div class="col mb-4 mt-5 text-center">
            <div class="contenantSection4">
                <p class="txtSection3List"><span class="span1ListS3">Une sélection de recettes</br>à faire chez vous oû</br>à partager avec vos amis !!!</span></p>
            </div>
        </div>
    </div>
    <div class="row">
    {% include 'shared/_search_data.html.twig' with {
        form:form
    } only %}
    </div>
</section>
<section class="container">
    {% include 'shared/_card.html.twig' %}
    <div class="d-flex justify-content-center mt-5 mb-5">
        {{ knp_pagination_render(recipes, 'shared/_pagination.html.twig') }}
    </div>   
</section>
{% endblock %}
{% block javascript %}
    {{ parent() }}

<script>
    $(document).ready(function() {
        $('select').formSelect();
    });
</script>
{% endblock %}
