{% extends 'base.html.twig' %}

{% block title %}Liste des recettes{% endblock %}

{% block body %}
<section class="recettes_list">
    <div class="recettes_text">
        <p class="recettes_p">Les recettes que vous propose Convivial Event</p>
    </div>
</section>
<section class="recettes_list_text">
    <div class="recettes_list ">
        <p class="recettes_list_text">Une sélection de recettes à faire chez vous oû à partager avec vos amis !!!</p>
    </div>
</section>
<section class="form_list">
    <div class="row">
    {% include 'shared/_search_data.html.twig' with {
        form:form
    } only %}
    </div>
</section>
<section class="list_recettes_card">
        {% include 'shared/_card.html.twig' %}     
</section>
<section>
    <div class="d-flex justify-content-center mt-5 mb-5">
        {{ knp_pagination_render(recipes, 'shared/_pagination.html.twig') }}
    </div>  
</section>
{% endblock %}
{% block javascript %}
    {{ parent() }}

<script>
    $(document).ready(function() {
        $('select').formSelect();
    });
</script>
{% endblock %}
