{% extends 'base.html.twig' %}

{% block title %}Mentions-Légales{% endblock %}
    
{% block body %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 text-left">
                <div>
                    <p>Le site convivialevent.com est édité par :</br></p> 
                </div>
                <div>
                    <P>convivialevent.com – Francis Dupuis micro-entreprise située 2 pas du Châtelier, 10120 Saint André Les Vergers</br> dont le SIRET est le 41176971400048.</br>
                    Le Directeur de Publication est Francis Dupuis, qui assure également la maintenance et l’administration.
                    </p>
                </div>
                <div>
                    <p>Le site convivialevent.com est hébergé par :

                    o2switch,</br>

                    SARL au capital de 100000€ dont le siège social est établi au 222-224 Boulevard Gustave Flaubert</br> 63000 Clermont-Ferrand</br>

                    immatriculée au Registre du Commerce et des Sociétés sous le numéro 510 909 80700024 - RCS Clermont Ferrand</br>
                    </p>
                </div>
                <div>
                <p>Déclaration de confidentialité :</br>
                convivialevent.com prête une attention particulière à vos données personnelles, et s’engage de par ses conditions d’utilisation à ne transmettre, vendre ou céder à un tiers aucune information personnelle vous concernant.</br> Veuillez également consulter notre Politique concernant la gestion des cookies.</br>

                Conformément à la loi « Informatique et Libertés » N° 78-17 du 6 Janvier 1978,</br> vous bénéficiez d’un droit d’accès, de rectification et d’opposition.</br></p>
                </div>
                </p>
                <div>
                    <p>
                        Pour l’exercer, merci de bien vouloir nous contacter par l’intermédiaire du formulaire de contact.
                    </p>
                </div>
                
            </div>
            <div class="col-1"></div>
        </div>
</section>
{% endblock %}
