@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "mixins";
@import "../../node_modules/bootstrap/scss/variables";

*{  
    box-sizing: border-box;
}

body {
   margin:0; 
}

.navbar {
    background-color: $convivialColor;
}

p {
    font-size: 1.5em;
}

@include mediaquerries(xs) {
//start of homePage
//section header et subNav
    .iconesResSoc {
        display: none;
        width: 2vh;
        height: 2vh;
        object-fit: cover;
    }
    .navbar {
        background-color: white;
    }
    .imageLanguage {
        text-align: right;
        width: 2vh;
        height: 2vh;
        margin-top: 25px;
        object-fit: cover;
    }
    .spanFR {
        text-align: right;
        margin-top: 25px;
        
    }
    .spanSubNav {
        margin-left: 1px;
        padding-left: 1px;
        display:none;
    }
    .spanSubNav2 {
        margin-left: 5px;
        padding-left: 5px;
    }
    .navbar-toggler-icon {
        text-align: left;
        width: 2vh;
        height: 2vh;

    }
    .imageLogo {
        width: 10vh;
        height: 5vh;
        object-fit: cover;
        margin-top: 1px;
        display: none;
    }
    .imageLogo1Convivial {
        display: none;
        max-width: 20%;
        height: auto;    
    }
//end section header et subNav
//start of footer
#footer {
    height: 50px;
    line-height: 25px;
    text-align: center;
}
.contactSubNav {
    display:none;
}
//end of footer
//page home
.imageLogoConvivial {
    width: 15vh;
    height: 10vh;
    }
//section 2
    .txtSection2 {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .txtSmallSection2 {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
//section 3
    body section3.container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    div.card {
        flex: 1;
        min-width: 85%;
        border: 1px solid BLACk;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
    }
    #cardS3Home {
        width: 100%;
        height: auto;
    }
//section 4
    section4 {
        margin-top: 20px;
        padding-top: 50px;
    }
    .imgHomeFixeS4 {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
        filter: opacity(30%);
        -webkit-filter: opacity(30%);
    }
    .contenantSection4{
        position: relative;
    }
    .txtSection4{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color:black;
    }
    .span1HomeS4{
        margin-right: 20px;
        color: $convivialColor2;
        font-style: italic;
        font-size: 1.5em;
    }
    .span2HomeS4{
        color: black;
        font-size: 0.9em;
        margin-left: 40px;
    }
//section 5
    .backgroundS4{
        margin: 20px;
        background-color: $convivialColor;
        border-radius: 12px;

    }
    #temoignage {
        font-size: 1.5em;
        text-align: center;
        margin-top: 15px; 
    }
    #divButtonS5Page{
        margin-top: 10px;
        margin-bottom: 10px;
    }
//section 6
    .row6 {
        text-align: center;
        font-size:2em;
        margin-bottom: 25px;
    }
    #carousel-row{
        margin-left: 50px;
    }
    .carousel-size{
        font-size: 1em;
        color:black; 
    }
    #carouselItemS6Bis {
        position: relative;
        text-align: center;
    }
    #carouselSizeS6Bis {
        position: absolute;
        top: 90%;
        left: 30%;
        transform: translate(-50%,-20%);
    }
    #divCarouselCaptionS6Bis {
        padding-top: 80px;
        text-align: center;
    }
//section 7
    #bgGrey {
        background-color: rgba(229, 229, 229, 0.44);
        border:rgba(229, 229, 229, 0.44) solid;
    }
    .contenantSection7 {
        position: relative;
        text-align: center;
    }
    .txtSection7 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-decoration: none;
        color: black;
        font-size: 2em;
    }
//section 8
    .titreS8 {
        margin-bottom: 40px;
        color: black;
        text-align: center;
    }
    #buttonS8 {
        text-decoration: none;
        border: 1px solid black;
        color: black;
        background-color: $convivialColor;
        padding: 5px 20px 5px 20px;
        border-radius: 12px;
        text-align: center;
    }
//section 9
    .row.section9 {
        margin-top: 35px;
    }
    .tailleTxtS9 {
        font-size: 0.9em;
    }
    .section9FleximgMail {
        padding-top: 25px;
        width: 20%;
        align-items: center;
        padding-left: 2px;
    }
    span.section9FlexTxtMail {
        font-size: 0.8em;
    }
    .section9Flex1 {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
    }
    .section9Flex1-1 {
        margin-left: 5px;
        justify-content: space-between;
    }
    .imgHomePhoneFlex1-1 {
        padding-top: 5px;
        width: 15%;
        align-items: center;
    }
    .tailleTxtFlex1-1 {
        font-size: 0.8em;
    }
    .section9Flex1-2 {
        justify-content: space-between;
    }
    .section9Flex2 {
        display: flex;
        justify-content: space-between;
        font-size: 0.5em;
    }
    .section9Flex2-2 {
        display: flex;
        
    }
    .section9Flex2-2Txt {
        font-size: 0.8em;
    }
//section 11
    .flex1S10 {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .flex2S10 {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        margin: 20px 20px;
    }
    .flex2S11 {
        display: flex;
        justify-content: space-around;
        padding: 30px;
    }
    .imgHomeIconesS11 {
        height: 4vh;
    }
//End Of Home Page
//Start of list Recipes Page
    #bgListRecipePageS3 {
        background-image: url('/assets/images/boulPizz.webp');
    }
    .listrecipePagetxtSection2 {
        font-size: 2.5em;
        text-align: center;
    }
    .recipeListImgSection5 {
        width: 70%;
        height: auto;
    }
    .listrecipePagetxtSection3 {
        font-size: 1.5em;
        text-align: center;
        
    }

//End of list Recipes Pages
//Start of details page
.textSection3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.textSection3Bis {
    text-align: left;
}
#bgListRecipePageS3 {
    background-image: url('/assets/images/boulPizz.webp');
    text-align: center;
}
#marginRecipeSection3 {
    margin-bottom: 10px;;
}
.recipePageImgSection3 {
    width:30%;
    margin-bottom: 40px;
}
#recipePageImgSection3 {
    width:30%;
    margin-bottom: 40px;
    margin-left: 10px;
}
.recipePagetxtSection2 {
    font-size: 2em;
    text-align: center;
}
.recipePagetxtSection3 {
    font-size: 2em;
    text-align: center;
}
#dropdownMenuButton1 {
    text-align: center;
    align-items: center;
    margin-left: 140px;
    border-radius: 12%;
    background-color: $convivialColor;
}
#imgSection3Details {
    align-items: center;
    text-align: center;
}
.recipePageImgSection5 {
    width:100%;
    min-height: auto;
    text-align: center;
}
#section4 {
    background-color: black;
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 0px;
    padding-top: 5px;
}
#section5 {
    background-color: $convivialColor;
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 0px;
    padding-top: 5px;
}
#recipePageLiSection4 {
    list-style-type: none;
    align-items: center;
}
#recipePageLiSection5 {
    list-style-type: none;
    color: black;
}
//end of Recipe page
//start of page
#bgS1Page {
    background-color: rgba(236, 240, 241);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
}
.colorTxtS1Page {
    color: $convivialColor;
}
.imgS2Page {
    width: 65%;
    max-height: 100%;
}
#buttonS5Page {
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    color: black;
    background-color: $convivialColor;
    padding: 5px 20px 5px 20px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
//end of page
}

@include mediaquerries(sm) {
//section header et subNav
    .iconesResSoc {
        display: none;
        width: 2vh;
        height: 2vh;
        object-fit: cover;
    }
    .navbar {
        background-color: white;
    }
    .imageLanguage {
        text-align: right;
        width: 2vh;
        height: 2vh;
        margin-top: 25px;
        object-fit: cover;
    }
    .spanSubNav {
        margin-left: 10px;
        padding-left: 10px;
        display:none;
    }
    .spanFR {
        text-align: right;
        margin-top: 25px;
        
    }
    .navbar-toggler-icon {
        text-align: left;
        width: 3vh;
        height: 3vh;

    }
    .imageLogo {
        width: 10vh;
        height: 5vh;
        object-fit: cover;
        margin-top: 1px;
        display: none;
    }
    .imageLogo1Convivial {
        max-width: 20%;
        height: auto;
    }
//end section header et subNav
//start of footer
#footer {
    height: 50px;
    line-height: 25px;
    text-align: center;
}
//end of footer
//page home
//section 1
.imageLogoConvivial {
    width: 20vh;
    height: 15vh;
          
    }
//section2
    .txtSection2 {
        text-align: center;
    }
    .txtSmallSection2 {
        text-align: center;
        font-size: 0.8em;
    }
//section 3
    #cardS3Home {      
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }
    div.card {
        min-width: 45%;
        border: 1px solid BLACk;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
//section 4
    section4 {
        margin-top: 20px;
        padding-top: 50px;
    }
    .imgHomeFixeS4 {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
        filter: opacity(30%);
        -webkit-filter: opacity(30%);
    }
    .contenantSection4{
        position: relative;
    }
    .txtSection4{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1.5em;
        color:black;
    }
    .span1HomeS4{
        padding-right: 90px;
        font-size: 1.2em;
        color: $convivialColor2;
        font-style: italic;
    }
    .span2HomeS4{
        padding-left: 80px;
        font-size: 0.8em;
        color: black;
    }
//section 5
    .backgroundS4{
        margin: 20px;
        background-color: $convivialColor;
        border-radius: 12px;

    }
    #temoignage {
        font-size: 1.5em;
        text-align: center;
        text-decoration: underline; 
        margin-top: 15px; 
    }
//section 6
    .row6 {
        text-align: center;
        font-size:2em;
        margin-bottom: 25px;
    }
    .carousel-size{
        font-size: 2em;
        color:black;
    }
//section 7
    #bgGrey{
        background-color: rgba(229, 229, 229, 0.44);
        border:rgba(229, 229, 229, 0.44) solid;
    }
    .contenantSection7{
        position: relative;
        text-align: center;
    }
    .txtSection7 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-decoration: none;
        color: $convivialColor2;
        font-size: 3em;
    }
//section 8
    .titreS8{
        margin-bottom: 40px;
        color: black;
    }
    #buttonS8{
        text-decoration: none;
        border: 1px solid black;
        text-align: center;
        color: black;
        background-color: $convivialColor;
        padding: 5px 20px 5px 20px;
        border-radius: 12px;
        font-size: 1.5em;
    }  
//section 9
    .row.section9{
        margin-top: 35px;
    }
    .imgHomePhoneFlex1-1{
        width: 10%;
        padding-top: 25px;
        width: 25%;
        align-items: center;
    }
    .tailleTxtS9{
        font-size: 0.9em;
    }
    .section9FleximgMail{
        padding-top: 25px;
        width: 20%;
        align-items: center;
        padding-left: 2px;
    }
    .section9FlexTxtMail{
        font-size: 1em;
    }
    .section9Flex1{
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
    }
    .section9Flex1-1{
        margin-left: 5px;
        justify-content: space-between;
    }
    .tailleTxtFlex1-1{
        font-size: 0.8em;
    }
    .section9Flex1-2{
        justify-content: space-between;
    }
    .section9Flex2{
        display: flex;
        justify-content: space-between;
        font-size: 1em;
    }
    .section9Flex2-2{
        display: flex;
        margin-top: 15px;
    }
    .section9Flex2-2Txt{
        font-size: 1em;
    }
//section 11
    .flex2S11{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    .imgHomeIconesS11{
        height: 5vh;
    }
//End Of Home Page
//Start of list Recipes Page
    .textSection3{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .textSection3Bis{
        text-align: left;
    }
    #section3{
        background-color: $convivialColor;
        text-align: center;
    }
    #marginRecipeSection3{
        margin-bottom: 10px;;
    }
    .recipePageImgSection3{
        width:30%;
        margin-bottom: 40px;
    }
    #recipePageImgSection3 {
        width:30%;
        margin-bottom: 40px;
        margin-left: 30px;
    }
    .recipePagetxtSection2{
        font-size: 2em;
        text-align: center;
    }
    .recipePagetxtSection3{
        font-size: 2em;
        text-align: center;
    }
    #dropdownMenuButton1{
        text-align: center;
        align-items: center;
        margin-left: 140px;
        border-radius: 12%;
        background-color: $convivialColor;
    }
    .recipePageImgSection5{
        width:100%;
        align-items: center;
    }
    #section4{
        background-color: black;
        text-align: center;
        align-items: center;
        color: white;
        margin-top: 0px;
        padding-top: 5px;
        font-size: 2em;
    }
    #section5{
        background-color: $convivialColor;
        text-align: center;
        align-items: center;
        color: white;
        margin-top: 0px;
        padding-top: 5px;
    }
    #recipePageLiSection4{
        list-style-type: none;
        font-size: 1em;
    }
    #recipePageLiSection5{
        list-style-type: none;
        color: black;
        font-size: 1.5em;
    }
//End of list Recipes Pages
//Start of Recipe page
.textSection3{
    text-align: center;
}
.textSection3Bis{
    text-align: left;
}
#section3{
    background-color: $convivialColor;
    text-align: center;
}
#marginRecipeSection3{
    margin-bottom: 50px;;
}
.recipePageImgSection3{
    width:30%;
    margin-bottom: 50px;
}
.recipePagetxtSection2{
    font-size: 2em;
    text-align: center;
}
.recipePagetxtSection3{
    font-size: 2em;
    text-align: center;
}
#dropdownMenuButton1{
    text-align: center;
    align-items: center;
    margin-left: 140px;
    border-radius: 12%;
    background-color: $convivialColor;
}
.recipePageImgSection5{
    width:100%;
    align-items: center;
}
#section4{
    background-color: black;
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 0px;
    padding-top: 5px;
}
#recipePageLiSection4{
    list-style-type: none;
}

}

@include mediaquerries(md) {
//section header et subNav
    .iconesResSoc {
        width: 2vh;
        height: 2vh;
        object-fit: cover;
    }
    .navbar {
        background-color: white;
    }
    .imageLanguage {
        text-align: right;
        width: 2vh;
        height: 2vh;
        margin-top: 25px;
        object-fit: cover;
    }
    .spanSubNav {
        margin-left: 1px;
        padding-left: 1px;
        display:none;
    }
    .spanFR {
        text-align: right;
        margin-top: 20px;
        
    }
    .navbar-toggler-icon {
        text-align: left;
        width: 2vh;
        height: 2vh;
        display: none;

    }
    .imageLogo {
        width: 10svh;
        height: 5vh;
        object-fit: cover;
        margin-top: 1px;
        display: none;
    }
    .imageLogo1Convivial {
        max-width: 20%;
        height: auto;
    }
//end section header et subNav
//start of footer
#footer {
    height: 50px;
    line-height: 25px;
    text-align: center;
}
//end of footer
//page home
//section 1
.imageLogoConvivial {
    width: 25vh;
    height: 20vh;
          
    }
//section2
    .txtSection2 {
        text-align: center;
    }
    .txtSmallSection2 {
        text-align: center;
        font-size: 0.8em;
    }
//section 3
    #cardS3Home {      
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }
    div.card {
        min-width: 45%;
        border: 1px solid BLACk;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
//section 4
    section4 {
        margin-top: 20px;
        padding-top: 50px;
    }
    .imgHomeFixeS4 {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
        filter: opacity(30%);
        -webkit-filter: opacity(30%);
    }
    .contenantSection4{
        position: relative;
    }
    .txtSection4{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1.5em;
        color:black;
    }
    .span1HomeS4{
        padding-right: 90px;
        font-size: 1.2em;
        color: $convivialColor2;
        font-style: italic;
    }
    .span2HomeS4{
        padding-left: 80px;
        font-size: 0.8em;
        color: black;
    }
//section 5
    .backgroundS4{
        margin: 20px;
        background-color: $convivialColor;
        border-radius: 12px;

    }
    #temoignage {
        font-size: 1.5em;
        text-align: center;
        text-decoration: underline; 
        margin-top: 15px; 
    }
//section 6
    .row6 {
        text-align: center;
        font-size:2em;
        margin-bottom: 25px;
    }
    .carousel-size{
        font-size: 2em;
        color:black;
    }
//section 7
    #bgGrey {
        background-color: rgba(229, 229, 229, 0.44);
        border:rgba(229, 229, 229, 0.44) solid;
    }
    .contenantSection7 {
        position: relative;
        text-align: center;
    }
    .txtSection7 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-decoration: none;
        color: $convivialColor2;
        font-size: 3em;
    }
//section 8
    .titreS8 {
        margin-bottom: 40px;
        color: black;
    }
    #buttonS8{
        text-decoration: none;
        border: 1px solid black;
        text-align: center;
        color: black;
        background-color: $convivialColor;
        padding: 5px 20px 5px 20px;
        border-radius: 12px;
        font-size: 1.5em;
    }   
//section 9
    .row.section9 {
        margin-top: 35px;
    }
    .imgHomePhoneFlex1-1 {
        width: 10%;
        padding-top: 25px;
        width: 25%;
        align-items: center;
    }
    .tailleTxtS9 {
        font-size: 0.9em;
    }
    .section9FleximgMail {
        padding-top: 25px;
        width: 20%;
        align-items: center;
        padding-left: 2px;
    }
    .section9FlexTxtMail {
        font-size: 0.8em;
    }
    .section9Flex1 {
        display: flex;
        justify-content: center;
    }
    .section9Flex1-1 {
        display: flex;
        justify-content: space-around;
    }
    .tailleTxtFlex1-1 {
        font-size: 1.5em;
        display: flex;
        justify-content: space-around;
    }
    .imgHomePhoneFlex1-1 {
        width: 10%;
        display: flex;
        justify-content: space-between;
    }
    .section9Flex1-2 {
        justify-content: space-between;
    }
    .section9Flex2 {
        display: flex;
        justify-content: space-between;
        font-size: 0.5em;
    }
    .section9Flex2-2 {
        display: flex;
        margin-top: 15px;
    }
    .section9Flex2-2Txt {
        font-size: 0.8em;
    }
//section 11
    .imgHomePhoneFlex1-1 {
            width: 10%;
        }
    .flex2S11 {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    .imgHomeIconesS11 {
        height: 5vh;
    }
//End Of Home Page
//Start of list Recipes Page
    .textSection3 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .textSection3Bis {
        text-align: left;
    }
    #section3 {
        background-color: $convivialColor;
        text-align: center;
    }
    #marginRecipeSection3 {
        margin-bottom: 10px;;
    }
    .recipePageImgSection3 {
        width:30%;
        margin-bottom: 40px;
    }
    .recipePagetxtSection2 {
        font-size: 2em;
        text-align: center;
    }
    .recipePagetxtSection3 {
        font-size: 2em;
        text-align: center;
    }
    #dropdownMenuButton1 {
        text-align: center;
        align-items: center;
        margin-left: 140px;
        border-radius: 12%;
        background-color: $convivialColor;
    }
    .recipePageImgSection5 {
        width:100%;
        align-items: center;
    }
    #section4 {
        background-color: black;
        text-align: center;
        align-items: center;
        color: white;
        margin-top: 0px;
        padding-top: 5px;
    }
    #section5 {
        background-color: $convivialColor;
        text-align: center;
        align-items: center;
        color: white;
        margin-top: 0px;
        padding-top: 5px;
    }
    #recipePageLiSection4 {
        list-style-type: none;
    }
    #recipePageLiSection5 {
        list-style-type: none;
        color: black;
    }
//End of list Recipes Pages
//Start of Recipe page
.textSection3 {
    text-align: center;
}
.textSection3Bis {
    text-align: left;
}
#section3 {
    background-color: $convivialColor;
    text-align: center;
}
#marginRecipeSection3 {
    margin-bottom: 50px;;
}
.recipePageImgSection3 {
    width:30%;
    margin-bottom: 50px;
}
#recipePageImgSection3 {
    width:30%;
    margin-bottom: 40px;
    margin-left: 30px;
}
.recipePagetxtSection2 {
    font-size: 2em;
    text-align: center;
}
.recipePagetxtSection3 {
    font-size: 2em;
    text-align: center;
}
#dropdownMenuButton1 {
    text-align: center;
    align-items: center;
    margin-left: 140px;
    border-radius: 12%;
    background-color: $convivialColor;
}
.recipePageImgSection5 {
    width:100%;
    align-items: center;
}
#section4 {
    background-color: black;
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 0px;
    padding-top: 5px;
}
#recipePageLiSection4 {
    list-style-type: none;
}
}

@include mediaquerries(lg) {
//section header et subNav
    .iconesResSoc {
        width: 3vh;
        height: 3vh;
        object-fit: cover;
        margin: 10px 10px;
        margin-inline: 15px;
    }
    .navbar {
        background-color: $convivialColor;
        
    }
    .navPipe {
        margin-left: 5px;
    }
    .imageLanguage {
        text-align: right;
        width: 2vh;
        height: 2vh;
        margin-top: 0px;
        object-fit: cover;
    }
    .spanSubNav {
        margin-left: 10px;
        padding-top: 20px;
        padding-inline-start: 10px;
           
    }
    .spanFR {
        text-align: right;
        margin-top: 20px;
        
    }
    .navbar-toggler-icon {
        text-align: left;
        width: 2vh;
        height: 2vh;
        display: none;

    }
    .imageLogo {
        width: 10svh;
        height: 5vh;
        object-fit: cover;
        margin-top: 1px;
        display: none;
    }
    .imageLogo1Convivial {
        max-width: 20%;
        height: auto;
        margin-left: 20px;
        border-radius: 50%;
    }
//end section header and subNav
//start of footer
#footerRow {
   line-height: center;
   height: 50px;
   text-align: center; 
}
#footer {
    display: inline-block;
    vertical-align:middle;   
}
//end of footer
//page home
//section 1
    .imageLogoConvivial {
        max-width: 30vh;
        max-height: 30vh;
          
    }
//section2
    .txtSection2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .txtSmallSection2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
//section 3
    .card-img-top {
        width: 85%;
        height: 15vw;
        object-fit: cover;
    }
    body.section3.container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    div.card {
        flex: 1;
        min-width: 85%;
        border: 1px solid BLACk;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
    }
    
//section 4
    section4 {
        margin-top: 20px;
        padding-top: 50px;
    }
    .imgHomeFixeS4 {
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: center;
        filter: opacity(30%);
        -webkit-filter: opacity(30%);
    }
    .contenantSection4 {
        position: relative;
    }
    .txtSection4 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1.5em;
        color:black;
    }
    .span1HomeS4 {
        padding-right: 90px;
        font-size: 2em;
        color: $convivialColor2;
        font-style: italic;
    }
    .span2HomeS4 { 
        padding-left: 80px;
        font-size: 2em;
        color: black;
    }
    //section 5
    .backgroundS4 {
        margin: 20px;
        background-color: $convivialColor;
        height: 150px;
    }
    .temoignage {
        font-size: 2.5em;
        text-align: center;
    }
    .temoignages {
        font-size: 1.5em;
        text-align: center;   
    }
//section 6
    .row6 {
        text-align: center;
        font-size:2em;
        margin-bottom: 25px;
    }
    .carousel-size{
        font-size: 2em;
        color: black;
    }
    .carousel-size{
        font-size: 2em;
        color:black;
    }
//section 7
    #bgGrey {
        background-color: rgba(229, 229, 229, 0.44);
        border:rgba(229, 229, 229, 0.44) solid;
    }
    .contenantSection7 {
        position: relative;
        text-align: center;
    }
    .txtSection7 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-decoration: none;
        color: $convivialColor2;
        font-size: 3em;
    }
//section 8
    .titreS8 {
        text-decoration: none;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    #divHomeS8 {
        text-align: center;
    }
    #buttonS8 {
        text-decoration: none;
        border: 1px solid black;
        text-align: center;
        color: black;
        background-color: $convivialColor;
        padding: 5px 20px 5px 20px;
        border-radius: 12px;
        font-size: 1.7em;
    }
//section 9
    .section9Flex1 {
        display: flex;
        justify-content: left;
        margin-left: 150px;
    }
    .section9Flex1-1 {
        display: flex;
        margin-left: 200px;
        margin-top: 30px;
    }
    .imgHomePhoneFlex1-1 {
        width: 10%;
        
    }
    .tailleTxtFlex1-1 {
        font-size: 1.5em;
    }
    .section9Flex1-2 {
        display:flex;
        margin-left: 200px;
        margin-top: 30px;
    }
    .section9FleximgMail {
        padding-top: 25px;
        width: 10%;
        align-items: center;
        padding-left: 2px;
    }
    .section9FlexTxtMail {
        font-size: 1.5em;
    }
    .section9Flex2 {
        display: flex;
        justify-content: center;
        font-size: 0.5em;
    }
    .section9Flex2-2 {
        display: flex;
        margin-top: 30px;
        margin-left: 100px;
    }
    .section9Flex2-2Txt {
        font-size: 1em;
    }
//section 10
    .flex1S10 {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
//section 11
    .flex2S11 {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        margin-left: 0px;
    }
    .imgHomeIconesS11 {
        height: 8vh;
    }
//End Of Home Page
//Start of list Recipes Page
    .textSection3 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .textSection3Bis {
        text-align: left;
    }
    #section3 {
        background-color: $convivialColor;
        text-align: center;
    }
    #marginRecipeSection3 {
        margin-bottom: 10px;;
    }
    .recipePageImgSection3 {
        width:30%;
        margin-bottom: 40px;
    }
    .recipePagetxtSection2 {
        font-size: 2em;
        text-align: center;
    }
    .recipePagetxtSection3 {
        font-size: 2em;
        text-align: center;
    }
    #dropdownMenuButton1 {
        text-align: center;
        align-items: center;
        margin-left: 140px;
        border-radius: 12%;
        background-color: $convivialColor;
    }
    #imgSection3Details {
        align-items: center;
        text-align: center;
    }
    
    #section4 {
        background-color: black;
        text-align: center;
        align-items: center;
        color: white;
        margin-top: 0px;
        padding-top: 5px;
    }
    #section5 {
        background-color: $convivialColor;
        text-align: center;
        align-items: center;
        color: white;
        margin-top: 0px;
        padding-top: 5px;
        margin-bottom: 20px;
    }
    #recipePageLiSection4 {
        list-style-type: none;
    }
    #recipePageLiSection5 {
        list-style-type: none;
        color: black;
    }
//End of list Recipes Pages
//Start of Recipe page
    .textSection3 {
        text-align: center;
        margin-bottom: 50px;
    }
    .textSection3Bis {
        text-align: left;
        font-size: 2.5em;
        margin-bottom: 30px;
    }
    #section3 {
        background-color: $convivialColor;
        text-align: center;
    }
    .recipePageImgSection3 {
        width:20%;
        margin-bottom: 50px;
    }
    #recipePageImgSection3 {
        width:20%;
        margin-bottom: 40px;
        margin-left: 60px;
    }
    #marginRecipeSection3 {
        margin-bottom: 50px;;
    }
    .recipePagetxtSection2 {
        font-size: 2em;
        text-align: center;
    }
    .recipePagetxtSection3 {
        font-size: 2em;
        text-align: center;
    }
    #dropdownMenuButton1 {
        text-align: center;
        align-items: center;
        margin-left: 140px;
        border-radius: 12%;
        background-color: $convivialColor;
    }
    .recipePageImgSection5 {
        width:100%;
        align-items: center;
    }
    #section4 {
        background-color: black;
        text-align: center;
        align-items: center;
        color: white;
        margin-top: 0px;
        padding-top: 5px;
    }
    #recipePageLiSection4 {
        list-style-type: none;
    }
//end of Recipe page
}


