{% form_theme form 'bootstrap_5_layout.html.twig' %}

<section class="pt-5 pt-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pt-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                <!-- button trigger modal -->
                <button 
                type="button"
                class="btn btn-secondary mb-5"
                data-bs-toggle="modal"
                data-bs-target="#comments"
                >
                Laisser un commentaire
                </button>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div
class="modal fade"
id="comments"
tabindex="-1"
aria-labelledby="Commentaire"
aria-hidden="true"
data-modal-form-target="modal"
>    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Laisser un commentaire</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>
