<footer class="container-fluid">
    <div class="row" id="footerRow">
        <div class="bg-dark text-white" id="footer">
            2022©Copyright Convivial Event & propulsé par DonkeySchool
        </div>
    </div>
</footer>