<section class="logo">
    <div class="container">
        <div class="logo-convivial" 
        data-aos="zoom-out-up" 
        data-aos-easing="linear"
        data-aos-duration="1000">
            <img class="logo-convivial-img" src="{{ asset('build/images/logo-convivial.png') }}" alt="logo-convivial-2">
        </div>
    </div>
</section>