<header>
    <h2 class="vp-logo">
        <a href="">
        Convivial Event
        </a>
    </h2>
    <ul>
        <li><a href="#">Galerie</a></li>
        <li><a href="#">Recettes</a></li>
        <li><a href="#">Demander un devis</a></li>
    </ul>
</header>
