<header>
    <h2 class="vp-logo">
        <a href="{{ path("app_home") }}">
        Convivial Event
        </a>
    </h2>
    <ul>
        <li><a href="{{ path("app_galerie") }}">Galerie</a></li>
        <li><a href="{{ path('recettes_list') }}">Recettes</a></li>
        <li><a href="{{ path("contact") }}">Demander un devis</a></li>
    </ul>
</header>
