<section class="container_block">
    <div class="row">
        <div class="col-12 d-flex mt-5 mb-3">
            <div class="card card-row shadow-light-lg mb-4 mt-4">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6">
                        <a href="">
                            <img src="{{ asset('build/images/select cockt webp/bar  à brochette.f4d75e89.webp') }}" 
                            class="figure-img img-fluid rounded" 
                            alt="images convivialent"
                            >
                        </a>
                    </div>
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Cocktail Dinatoire</h5>
                            <p class="card-text text-center">
                            Les grands buffets nappés de blanc, toile de jute et dentelles
                            ambiance campagnarde, guinguette ou bohème chic comme vous voulez.<br>
                            Sur ardoises, les pièces cocktails se veulent maraîchères.<br>
                            Selon vos envies, les animations seront d’esprit terroir, chic ou écoresponsable<br>
                            pour un dînatoire chic et gourmand en toute convivialité
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex mt-3 mb-3">
            <div class="card card-row shadow-light-lg mt-4 mb-4">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Le repas à table</h5>
                            <p class="card-text text-center">Paêlla, Risotto, Tajine de poulet aux citrons confits...</p>
                            <p class="card-text text-center">
                            Que la vaisselle soit dépareillée ou blanche, les belle nappes et votre déco champêtre feront leur effet
                            vos invités n’attendront que le clou du spectacle, ce plat champêtre et convivial
                            que les cuisiniers préparent devant eux depuis leur arrivée

                            Cochon à la broche, barbecue,risotto, tajine
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                    <a href="">
                        <img src="{{ asset('build/images/Sel repas 2 webp/assiette14.36b58e06.webp') }}" 
                        class="figure-img img-fluid rounded" 
                        alt="images convivialent"
                        >
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex mt-3 mb-5">
            <div class="card card-row shadow-light-lg mt-4 mb-4">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6">
                    <a href="">
                        <img src="{{ asset('build/images/photos-by-lanty-22JxStzTxwo-unsplash.jpg') }}" 
                        class="figure-img img-fluid rounded" 
                        alt="images convivialent"
                        >
                    </a>
                    </div>
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Le dessert événementiel</h5>
                            <p class="card-text text-center">
                            Mais un mariage n’est rien sans son buffet événementiel
                            qui enflmame le cœur et les yeux des plus gourmands

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
