<div class="container mt-4 mb-4">
    <div class="row">
        <h2 class="text-center mb-4" style="font-size:2rem">
            Cocktail dinatoire
        </h2>
        <p class="text-center" style="font-size:1rem">
            Les grands buffets nappés de blanc,toile de jute et dentelles <br>
            Ambiance camlpagnarde, guinguette ou bohème chic comme vous voulez <br>
            Sur ardoises, les pièces coktails se veulent maraîchères <br>
            Selon vos envies, les animations seront d'esprit terroir,chic ou éco-responsable <br>
            Pour un dînatoire chic et gourmand en toute convivialité <br>
        </p>
        <h2 class="text-center mb-4 mt-4" style="font-size:2rem">
            Le repas à table
        </h2>
        <p class="text-center" style="font-size:1rem">
            Que la vaisselle soit dépareillée ou blanche, les belles nappes et votre déco champêtre feront leur effet <br>
            Vos invités n'attendront que le clou du spectacle, ce plat champêtre convivial <br>
            Que les cuisiniers préparent devant eux depuis leur arrivée <br>
        </p>
        <h3 class="text-center mb-4" style="font-size:1.7rem">
            Cochon à la broche, barbecue, brasero, risotto ou tajine géant <br>
        </h3>
        <h2 class="text-center mb-4" style="font-size:2rem">
            Le dessert événementiel
        </h2>
        <p class="text-center" style="font-size:1rem">
            Mais un mariage n'est rien sans son buffet événementiel <br>
            Qui enflamme le coeur et les yeux des plus gourmands
        </p>
    </div>
</div>