<section class="container_block">
    <div class="row">
        <div class="col-12 d-flex mt-5 mb-3">
            <div class="card card-row shadow-light-lg mb-4 mt-4">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6">
                        <a href="">
                            <img src="{{ asset('build/images/BBQ 2 webp/3_11zon.webp') }}" 
                            class="figure-img img-fluid rounded" 
                            alt="images convivialent"
                            >
                        </a>
                    </div>
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">
                            Le cochon à la broche</h5>
                            <p class="card-text text-center">
                            Son stand tournebroche installé, notre rôtisseur commence à rôtir le porcelet et ses cuissots<br>
                            Le grand poêlon de pommes grenailles et la superbe sauce moutarde miel mijotent.<br>
                            Avec le sourire il est intarissable auprès des curieux de ce spectacle magique.<br>
                            Découpé et maintenu au chaud, le cochon  sera servi au buffet.<br>
                            Pour les amateurs et les petites réceptions, notre jambon à l’os rôti au miel ravira les amateurs  de «viandes sans os»
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex mt-3 mb-3">
            <div class="card card-row shadow-light-lg mt-4 mb-4">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Barbecue</h5>
                            <p class="card-text text-center">
                            Notre rôtisseur installé, il est prêt à maîtriser le barbecue que vous aurez composé<br>
                            Saucisse, poitrine,viandes marinées,andouillette, brochette, poulet, saumon, magret, entrecôte brochette, ribs etc…<br>
                            Sauce barbecue,légumes grillés, pommes grenailles ou salades accompagneront ce choix de roi maintenu au chaud au buffet.
                            <br>C’est un moment de partage idéal entre amis
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                    <a href="">
                        <img src="{{ asset('build/images/grill.avif') }}" 
                        class="figure-img img-fluid rounded" 
                        alt="images convivialent"
                        >
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex mt-3 mb-5">
            <div class="card card-row shadow-light-lg mt-4 mb-4">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6">
                    <a href="">
                        <img src="{{ asset('build/images/Mechoui-768x568.jpg') }}" 
                        class="figure-img img-fluid rounded" 
                        alt=""
                        >
                    </a>
                    </div>
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">
                            Méchoui d’agneau
                            </h5>
                            <p class="card-text text-center">
                            Comme pour le cochon,le méchoui  et ses culottes d’agneau est un spectacle à part entière
                            Accompagné de salades, flageolets ou de pommes grenailles comme vous le voulez
                            Il est même possible de prévoir quelques  cuissots de porcelet pour les récalcitrants

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex mt-3 mb-3">
            <div class="card card-row shadow-light-lg mt-4 mb-4">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Plancha et Street food</h5>
                            <p class="card-text text-center">
                            Spécialiste des animations et de la plancha, nous surprendront vos invités
                            Lèche d’entrecôte et magret, wok de poulet, poêlée de légumes, saumon et st jacques etc…
                            Découvrez les versions Convivial Event de la street-Food ( Plaisir gourmand garanti)
                            Mini burger de bœuf,stand Tacos,Kebab,Hot-dog,crêpe-party, Candy bar etc
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                    <a href="">
                        <img src="{{ asset('build/images/kebap.webp') }}" 
                        class="figure-img img-fluid rounded" 
                        alt="images convivialent"
                        >
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
