<div class="container">
    <div class="row">
        <h1 class="text-center mt-4 mb-4">
            Mariage Tradition
        </h1>
        <h2 class="text-center mt-4 mb-4" style="font-size:1.7rem">
            Le vin d'honneur
        </h2>
        <p class="text-center" style="font-size:1rem">
            Selon vôtre timing ou votre budget, <br>
            Nous vous conseillerons dans le choix et le nombre de pièces coktails et animations <br>
            Les buffets joliment nappés, les pièces cocktails aux saveurs et couleurs variées <br>
            Et le service attentionné, apporteront la première touche de prestige et de convivialité
        </p>
        <h2 class="text-center mt-4 mb-4" style="font-size:1.7rem">
            Votre menu tentation
        </h2>
        <p class="text-center" style="font-size:1rem">
            Réalisé à base de produits frais issus de nos producteur locaux <br>
            Et offrant un large choix de recettes généreuses <br>
            Le service attentionné mais convivial chochoutera vos invités <br>
        </p>
        <p class="text-center" style="font-size:1rem">
            En menu ou en buffet selon vos désirs <br>
            Votre repas sera végétarien ou terroir authentique <br>
        </p>
        <p class="text-center" style="font-size:1rem">
            Vous pourre apporter toutes vos boissons, votre vaisselle, votre dessert <br>
            Mais bien sur , nous pouvons nous en charger en option <br>
            POur un mariage sans constraintes
        </p>
    </div>
    <div class="row">
        <h1 class="text-center mt-4 mb-4">
            Le repas dînatoire
        </h1>
        <h2 class="text-center mt-4 mb-4" style="font-size:1.7rem">
            L' Ateliers des rêves
        </h2>
        <p class="text-center mt-4 mb-4" style="font-size:1rem">
            Selon votre thème, nous aurons dressé de magnifiques buffets décorés <br>
            2 bars vous serviront champagne, softs, coktails, bière etc... <br>
            Nos pièces cocktails suivies des animations froides et chaudes épicuriennes <br>
            Pour un cocktail orchestré avec le sourire. <br>
            Mais les belles tables rondes les attendent <br>
            Cuisinés avec amour par notre chef à base de produits frais <br>
            le généreux plat chaud sera suivi d'ardoises de fromages <br>
            et biensur <br>
            Vous choisirez le buffet de dessert de vos rêves <br>
            Le service attentionné et convivial chouchoutera vos invités <br>
        </p>
    </div>
</div>