<section class="container_block">
    <div class="row">
        <div class="col-12 d-flex mt-5 mb-3">
            <div class="card card-row shadow-light-lg mb-4 mt-4">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6">
                        <a href="">
                            <img src="{{ asset('build/images/select cockt webp/bar  à brochette.f4d75e89.webp') }}" 
                            class="figure-img img-fluid rounded" 
                            alt="images convivialent"
                            >
                        </a>
                    </div>
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Le vin d’honneur</h5>
                            <p class="card-text text-center">
                            Selon votre timing ou votre budget,
                            nous vous conseillerons dans le choix et le nombre de pièces cocktail et animations.<br>
                            Les buffets joliment nappés, les pièces cocktail aux saveurs et couleurs variées
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex mt-3 mb-3">
            <div class="card card-row shadow-light-lg mt-4 mb-4">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Votre Menu tentation</h5>
                            <p class="card-text">
                            Réalisé à base de produits frais issus de nos producteurs locaux
                            et<br> offrant un large choix de recettes généreuses.<br>
                            Le service attentionné mais convivial chouchoutera vos invités.<br>
                            En menu ou en buffet selon vos désirs,<br>
                            votre repas sera végétarien ou terroir-authentique<br>
                            Vous pourrez apporter toutes vos boissons, votre vaisselle, votre dessert,<br>
                            mais bien sur, nous pouvons nous en charger,
                            pour un mariage sans contrainte
                        </div>
                    </div>
                    <div class="col-md-6">
                    <a href="">
                        <img src="{{ asset('build/images/Sel repas 2 webp/assiette14.36b58e06.webp') }}" 
                        class="figure-img img-fluid rounded" 
                        alt="images convivialent"
                        >
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex mt-3 mb-5">
            <div class="card card-row shadow-light-lg mt-4 mb-4">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6">
                    <a href="">
                        <img src="{{ asset('build/images/photos-by-lanty-22JxStzTxwo-unsplash.jpg') }}" 
                        class="figure-img img-fluid rounded" 
                        alt="images convivialent"
                        >
                    </a>
                    </div>
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Ateliers des rêves</h5>
                            <p class="card-text text-center">
                            Selon votre thème, nous aurons dressé de magnifiques buffets décorés.<br>
                            2 bars vous serviront champagne, softs, cocktail ,bière etc...<br>
                            Nos pièces cocktail suivies des 3 animations froides et chaudes épicuriennes<br>
                            Cuisiné avec amour par notre chef à base de produits frais,<br>
                            Le généreux plat chaud<br> Sera suivi d’ardoises de fromages<br>
                            et bien sur<br>
                            Vous choisirez le buffet de dessert de vos rêves.<br>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
