<section class="container_block">
    <div class="row">
        <div class="col-12 d-flex mt-5 mb-3">
            <div class="card card-row shadow-light-lg mb-4 mt-4">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6">
                        <a href="">
                            <img src="{{ asset('build/images/select cockt webp/20220703_104425_11zon.webp') }}" 
                            class="figure-img img-fluid rounded" 
                            alt="images convivialent"
                            >
                        </a>
                    </div>
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Brunch Gourmand : Une Expérience Culinaire Inoubliable</h5>
                            <p class="card-text text-center">
                            Chers gourmets,

                            Nous sommes ravis de vous inviter à découvrir notre brunch gourmand.<br>
                            Une expérience culinaire unique qui ravira vos papilles et éveillera vos sens.<br>
                            Que vous soyez un amateur de saveurs traditionnelles ou un aventurier culinaire,<br>
                            notre brunch est conçu pour satisfaire tous les goûts.<br>
                            Rejoignez-nous pour un moment de détente et de plaisir,<br> 
                            où chaque bouchée est une invitation au voyage.<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex mt-3 mb-3">
            <div class="card card-row shadow-light-lg mt-4 mb-4">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Le brunch du midi et ses galettes salées</h5>
                            <h6 class="card-title"></h6>
                            <p class="card-text text-center">
                            Venez découvrir une sélection de galettes salées<br> préparées avec amour et des ingrédients de qualité,<br>
                            dans une ambiance conviviale et chaleureuse.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                    <a href="">
                        <img src="{{ asset('build/images/BBQ 2 webp/Brunch Galette BBQ_11zon.webp') }}" 
                        class="figure-img img-fluid rounded" 
                        alt="images convivialent"
                        >
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex mt-3 mb-5">
            <div class="card card-row shadow-light-lg mt-4 mb-4">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6">
                    <a href="">
                        <img src="{{ asset('build/images/pancakes-with-vanilla-ice-cream-chocolate-white-plate-blue-surface.jpg') }}" 
                        class="figure-img img-fluid rounded" 
                        alt="images convivialent"
                        >
                    </a>
                    </div>
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Le dessert ou le temps du sucré </h5>
                            <p class="card-text text-center">
                            Découvrez l'art de la galette avec notre traiteur, qui transforme chaque brunch en une expérience gustative inoubliable, où chaque bouchée est une symphonie de saveurs.<br>

                            Laissez-vous séduire par les créations raffinées de notre traiteur, qui subliment les galettes salées et sucrées pour un brunch élégant et savoureux.<br>

                            Notre traiteur vous invite à un voyage culinaire unique, où les galettes, préparées avec passion et ingrédients de qualité, deviennent les stars de votre brunch.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
