<section class="container">
    <div class="row">
        <div class="col-12 d-flex mt-5 mb-3">
            <div class="card card-row shadow-light-lg mb-4 mt-4 lift lift-lg" 
            data-aos="zoom-in-right" 
            data-aos-duration="1100" 
            data-aos-easing="linear">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6">
                    <a href="">
                        <img src="{{ asset('build/images/Cochon-cirque-scaled.69a83bd3.webp') }}" 
                        class="figure-img img-fluid rounded" 
                        alt=""
                        >
                    </a>
                    </div>
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Autour d'un Barbecue, de notre Brazero Royal ou du tournebroche...</h5>
                            <p class="card-text text-center">
                            Entièrement équipé, notre rôtisseur confirmé <br>
                            gère la cuisson et la découpe puis <br>
                            dresse un jolie buffet pour le service du plat. <br>
                            (En option, vous pourrez compléter la prestation par de la vaisselle,
                            du service, du personnel, et tout ou partie du reste du repas )
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex mt-3 mb-3">
            <div class="card card-row shadow-light-lg mt-4 mb-4 lift lift-lg" 
            data-aos="zoom-in-left" 
            data-aos-duration="1200" 
            data-aos-easing="linear">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Le concept Convivial</h5>
                            <h6 class="card-title">Paêlla, Risotto, Tajine de poulet aux citrons confits...</h6>
                            <p class="card-text text-center">
                            Notre cuisinier, installé devant vos invités, <br>
                            taille ses légumes,gère ses cuissons dans les grands <br>
                            pôelons, puis dresse un joli buffet pour le service.<br>
                            il ne vous restera qu'à prévoir les boissons et la vaisselle. <br>
                            (En option, vous pourrez compléter la prestation par de la vaisselle,
                            du service, du personnel, et tout ou partie du reste du repas )
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                    <a href="">
                        <img src="{{ asset('build/images/Cochon-cirque-scaled.69a83bd3.webp') }}" 
                        class="figure-img img-fluid rounded" 
                        alt=""
                        >
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex mt-3 mb-5">
            <div class="card card-row shadow-light-lg mt-4 mb-4 lift lift-lg" 
            data-aos="zoom-in-right" 
            data-aos-duration="1000" 
            data-aos-easing="linear">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6">
                    <a href="">
                        <img src="{{ asset('build/images/Cochon-cirque-scaled.69a83bd3.webp') }}" 
                        class="figure-img img-fluid rounded" 
                        alt=""
                        >
                    </a>
                    </div>
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Le concept Convivial</h5>
                            <p class="card-text text-center">
                            Nous avons imaginé un concept autour d'un tournebroche ou d'un  <br>
                            pôelon allant de l'apéritif au dessert, vaisselle et personnel compris <br>
                            Pour recevoir entre amis, en toute simplicité, le tout sans le stress ! <br>
                            il ne vous restera qu'à prévoir les boissons et la vaisselle.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
