<section class="container">
    <div class="row">
        <div class="col-12 d-flex mt-5 mb-3">
            <div class="card card-row shadow-light-lg mb-4 mt-4 lift lift-lg" 
            data-aos="zoom-in-right" 
            data-aos-duration="1100" 
            data-aos-easing="linear">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6">
                        <img src="{{ asset('build/images/Cochon-cirque-scaled.webp') }}" 
                        class="figure-img img-fluid rounded" 
                        alt=""
                        >
                    </div>
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Séminaire</h5>
                            <p class="card-text text-center">
                            <strong>
                            Organisé un colloque ou un séminaire <br>
                            véhicule l'image de votre entreprise !
                            </strong>
                            <br>
                            </p>
                            <p class="card-text text-center">
                            L'esthétisme de nos pauses café, le choix  <br>
                            eco-responsable de notre prestation et <br>
                            la convivialité de l'équipe apporteront un savoir <br>
                            recevoir très actuel de votre entreprise. <br>
                            Nos concepts déjeuner offrant un vrai repas <br>
                            de qualité en 1h30 maxi démontrera l'efficacité <br>
                            de votre entreprise.
                            </p>
                            <p class="card-text text-center">
                            L'originalité de nos cocktails ou buffets dinatoires
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex mt-3 mb-3">
            <div class="card card-row shadow-light-lg mt-4 mb-4 lift lift-lg" 
            data-aos="zoom-in-left" 
            data-aos-duration="1200" 
            data-aos-easing="linear">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Repas de Gala</h5>
                            <p class="card-text text-center">
                            L’esthétisme de nos pauses café, le choix éco-responsable de notre prestation et la convivialité de l’équipe apporteront un  savoir-recevoir très actuel de votre entreprise.

                            Nos concepts déjeuner offrant un vrai repas de qualité en 1h30 maxi démontrera l’efficacité  de votre entreprise.

                            L’originalité de nos cocktails ou buffets dînatoires, nos canapés maison très bucolique, nos animations cuisine valorisant votre terroir local.

                            Toute nos prestations s’adaptent à vos contraintes alimentaires.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('build/images/Cochon-cirque-scaled.webp') }}" 
                        class="figure-img img-fluid rounded" 
                        alt=""
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex mt-3 mb-5">
            <div class="card card-row shadow-light-lg mt-4 mb-4 lift lift-lg" 
            data-aos="zoom-in-right" 
            data-aos-duration="1000" 
            data-aos-easing="linear">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6">
                        <img src="{{ asset('build/images/Cochon-cirque-scaled.webp') }}" 
                        class="figure-img img-fluid rounded" 
                        alt=""
                        >
                    </div>
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Cocktail Dînatoire</h5>
                            <p class="card-text text-center">
                            Spécialiste du «Recevoir autrement» </br> Convivial Event vous  propose des cocktails sur mesure à tous les budgets.
                            Le respect de la planète et des différences sont désormais indispensables dans la communication d’entreprise.
                            De la production au jour du cocktail,tout a été pensé dans le respect de l’environnement .
                            Nous  valorisons les producteurs et artisans de notre belle région,  maîtrisant ainsi le circuit court
                            En exemple,nos cocktails  locavores «Terre de l’Aube» , «Terre de Bourgogne»  et «Saveurs conviviales»
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
