<section class="container_block">
    <div class="row">
        <div class="col-12 d-flex mt-5 mb-3">
            <div class="card card-row shadow-light-lg mb-4 mt-4">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6">
                        <a href="">
                            <img src="{{ asset('build/images/accueil -cafe-conviviallevent.jpg') }}" 
                            class="figure-img img-fluid rounded" 
                            alt="images convivialent"
                            >
                        </a>
                    </div>
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Séminaire</h5>
                            <p class="card-text text-center">
                            Organiser un colloque ou un séminaire 
                            véhicule l’image d’une entreprise<br>
                            L’esthétisme de nos pauses café, le choix éco-responsable de notre prestation et la convivialité de l’équipe apporteront 
                            un savoir-recevoir très actuel de votre entreprise.<br>
                            Nos concepts déjeuner offrant un vrai repas de qualité 
                            en 1h30 maxi démontrera l’efficacité  de votre entreprise.<br>
                            L’originalité de nos cocktails ou buffets dînatoires, nos canapés maison très bucolique, nos animations cuisine valorisant votre terroir local.<br>
                            Toute nos prestations s’adaptent à vos contraintes alimentaires.<br>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex mt-3 mb-3">
            <div class="card card-row shadow-light-lg mt-4 mb-4">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Repas de Gala</h5>
                            <h6 class="card-title"></h6>
                            <p class="card-text text-center">
                            Grâce à nos partenaires, nous choisirons le mobilier et la vaisselle prestige adaptée.<br>
                            Notre personnel, spécialisé dans l’organisation de grands événements offrira le professionnalisme nécessaire à une soirée réussie.<br>
                            Le  choix de produits nobles souvent issus de la production locale, la maîtrise de notre brigade de cuisine raviront les papilles de nos invités.<br>
                            Nos devis sur mesure permettent de s’adapter à votre budget.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                    <a href="">
                        <img src="{{ asset('build/images/food-2851910_640.jpg') }}" 
                        class="figure-img img-fluid rounded" 
                        alt="images convivialent"
                        >
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex mt-3 mb-5">
            <div class="card card-row shadow-light-lg mt-4 mb-4">
                <div class="row no-gutters mx-auto">
                    <div class="col-md-6">
                    <a href="">
                        <img src="{{ asset('build/images/cocktail-dinatoire-1.webp') }}" 
                        class="figure-img img-fluid rounded" 
                        alt="images convivialent"
                        >
                    </a>
                    </div>
                    <div class="col-md-6 align-self-center ml-5">
                        <div class="card-body">
                            <h5 class="card-title">Cocktail Dînatoire</h5>
                            <p class="card-text text-center">
                            Spécialiste du «Recevoir autrement» Convivial Event vous  propose des cocktails sur mesure à tous les budgets.<br>
                            Le respect de la planète et des différences sont désormais indispensables dans la communication d’entreprise.<br>
                            De la production au jour du cocktail,tout a été pensé dans le respect de l’environnement.<br>
                            Nous  valorisons les producteurs et artisans de notre belle région,  maîtrisant ainsi le circuit court.<br>
                            En exemple,nos cocktails  locavores «Terre de l’Aube» , «Terre de Bourgogne»  et «Saveurs conviviales»<br>          

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
