<section class="contact">
    <div class="container">
        <div class="sectionContact-titre">
            <h2 class="">Comment nous contacter :</h2>
        </div>
        <div class="sectionContact-tel">
            <p class="tailleTxtFlex1">06 75 33 08 23</p>
        </div>
        <div class="sectionContact-mail">
            <p class="section9FlexTxtMail">convivialevent@yahoo.fr</p>
        </div>
        <div class="sectionContact-horaires">
            <div class="tailleTxtFlex2">
                <h3>Horaires :</h3>
            </div>
            <div class="section9Flex2-2">
                <p><span class="section9Flex2-2Txt">Du lundi au vendredi de 8h00 à 19h00</span></p>
            </div>
        </div>
    </div>
</section>