{% extends 'base.html.twig' %}

{% block title %}Page non trouvées{% endblock %}

{% block body %}
<section class="container mt-5 mb-5">
    <div class="text-center">
        <h1 class="text-center">Page non trouvée</h1>
        <p class="text-center">La page que vous recherchez n'a pas été trouvée !</p>
        <p>Code de l'erreur : {{ status_code }}</p>
        <p>Message de l'erreur : {{ status_text }}</p>
    </div>
</section>
{% endblock %}