includes:
	- ergebnis.neon
parameters:
    level: 9
    paths:
        - ../src
    ignoreErrors:
        -
            message: '#Property [a-zA-Z0-9\\_]+::\$id is never written, only read.#'
            path: ../src/Entity/*
        -
            message: '#Property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+ has no type specified.#'
            path: ../src/Entity/*
        # -
        #     # c'est doctrine qui passe les parametres et genère l'entité ainsi
        #     message: '#Parameter .repositoryClass of attribute class .* constructor expects class-string.*null, .* given.#'
        #     path: ../src/Entity/
    checkGenericClassInNonGenericObjectType: false